{% extends "food/base.html" %}
{% load static %}
{% block title %}
About Us
  
{% endblock title %}


{% block contains %}
<div class="div">
    <img src="{% static 'images/about.PNG' %}" class="img"  alt="...">
          </div>
        </div>
  
<hr class="text-danger w-100 mx-auto border-3"></hr>
<div class="container">
 <div class="row">
    <div class="col-12">
        <h2 class="text-bolder text-danger text-center"><b class="text-bold text-danger">Process</b> <b class="text-bold text-dark">behind the</b> <b class="text-bold text-danger">making</b></h2>
        <video width="100%" height="500" controls>
            <source src="{% static 'videos/food.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
 </div>
</div>

<hr class="text-danger w-100 mx-auto border-3"></hr>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="text-bolder text-capitalize">Our momos are <b class="text-danger">made with love</b></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eligendi, molestias dolore sint mollitia nihil ut tenetur cum asperiores labore maxime, quo laudantium a voluptates culpa assumenda delectus dolores veritatis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aspernatur vero tempora? Quas in a est. Harum eum voluptatibus magnam voluptatum officia at velit dolores consequatur. Neque rerum quae consectetur.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad commodi minima voluptatum sed nihil nemo velit beatae fugit numquam enim deserunt cum, voluptatem tempore? Numquam soluta assumenda eum pariatur nobis?
            </p>
        </div>
        <div class="col-6">
           <img src="{% static 'images/r1.PNG' %}" alt="">
        </div>
    </div>
</div>

<hr class="text-danger w-100 mx-auto border-3"></hr>
<div class="container">
    <div class="row">
        <div class="col-6">
           <img src="{% static 'images/r2.PNG' %}" alt="">
        </div>
        <div class="col-6">
            <h1 class="text-bolder text-capitalize">Our momos are <b class="text-danger">made with love</b></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eligendi, molestias dolore sint mollitia nihil ut tenetur cum asperiores labore maxime, quo laudantium a voluptates culpa assumenda delectus dolores veritatis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aspernatur vero tempora? Quas in a est. Harum eum voluptatibus magnam voluptatum officia at velit dolores consequatur. Neque rerum quae consectetur.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad commodi minima voluptatum sed nihil nemo velit beatae fugit numquam enim deserunt cum, voluptatem tempore? Numquam soluta assumenda eum pariatur nobis?
            </p>
        </div>
    </div>
</div>

<hr class="text-danger w-100 mx-auto border-3"></hr>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="text-bolder text-capitalize">Our momos are <b class="text-danger">made with love</b></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eligendi, molestias dolore sint mollitia nihil ut tenetur cum asperiores labore maxime, quo laudantium a voluptates culpa assumenda delectus dolores veritatis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aspernatur vero tempora? Quas in a est. Harum eum voluptatibus magnam voluptatum officia at velit dolores consequatur. Neque rerum quae consectetur.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad commodi minima voluptatum sed nihil nemo velit beatae fugit numquam enim deserunt cum, voluptatem tempore? Numquam soluta assumenda eum pariatur nobis?
            </p>
        </div>
        <div class="col-6">
           <img src="{% static 'images/r3.PNG' %}" alt="">
        </div>
    </div>
</div>

<hr class="text-danger w-100 mx-auto border-3"></hr>
<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="{% static 'images/r4.PNG' %}" class="img">
        </div>
    </div>
</div>


<hr class="text-danger w-100 mx-auto border-3"></hr>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-bold text-capitalize text-center">Meet the<b class="text-bold text-danger">Team</b></h1>
            <p class="text-bold text-primary text-center">Our Talented team who only delivers only the best results</p>
            <img src="{% static 'images/r5.PNG' %}" class="img">
        </div>
    </div>
</div>
{% endblock contains %}